<!-- extend base layout -->
{% extends "index.html" %}

{% block content %}

<div class="page-header">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>Wypełnij ankietę</h1>
        </div>
    </div>
</div>

<div id="page-content-wrapper">
<div class="container-fluid">

<form role="form" action="/save" method="post">
    <h3>Dane studenta</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="rok">Rok studiów</label>
        <input type="number" class="form-control" id="rok" name="rok" min="1" max="5" required>
    </div>
    <h3>Dane dotyczące działanośc w organizacjach studenckich</h3>
    <h5> W jakiej organizacji studenckiej działasz? </h5>
        <div class="form-group">
      <label for="lata">Do jakiej organizacji studenckiej należysz?</label>
        <input type="text" class="form-control" id="organizacja" name="organizacja" required>
    </div>
    <div class="form-group">
      <label for="lata">Jak długo działasz w tej organizacji studenckiej?</label>
      <select class="form-control" id="lata" name="lata">
        <option>Mniej niż rok</option>
        <option>1 rok</option>
        <option>2-3 lata</option>
        <option>Powyżej 3 lat</option>
      </select>
    </div>

    <h3>Ankieta</h3>
    <b>Jak dużo czasu poświęcasz na działanie w organizacji studenckiej?
	<b>Wybierz jedną z poniższych</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="czas" value="1">Kilka godzin w roku
        </label>
        <label class="radio-inline">
          <input type="radio" name="czas" value="2">Kilka godzin w miesiącu
        </label>
        <label class="radio-inline">
          <input type="radio" name="czas" value="3">Kilka godzin tygodniowo
        </label>
        <label class="radio-inline">
          <input type="radio" name="czas" value="4">Kilka godzin dziennie
        </label>
    </div>
    <b>Jak często uczestniczysz w spotkaniach związanych z organizacjami?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="spotkania" value="1">Kilka razy w tygodniu
        </label>
        <label class="radio-inline">
          <input type="radio" name="spotkania" value="2">Raz w tygodniu
        </label>
        <label class="radio-inline">
          <input type="radio" name="spotkania" value="3" checked>Kilka razy w miesiącu
        </label>
        <label class="radio-inline">
          <input type="radio" name="spotkania" value="4">Raz w miesiącu
        </label>
        <label class="radio-inline">
          <input type="radio" name="spotkania" value="5">Mniej niż raz w miesiącu
        </label>
    </div>
<b>Tematyka organizacji </b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="1">Naukowa/techniczne
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="2">Soft skills
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="3">Artystyczna
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="4">Sportowa
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="5">Kulturalno-rozrywkowa
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="6">Samorządowa
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="7">Wolontariat/Pomoc społeczna
        </label>
        <label class="radio-inline">
          <input type="radio" name="tematyka" value="8">Inna
        </label>
    </div>

    <button type="submit" class="btn btn-default">Zapisz</button>
</form>

    </div> </div>

{% endblock %}




