<!-- extend base layout -->
{% extends "index.html" %}

{% block content %}

  <div class="jumbotron">
      <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>Ankieta</h1>
            <p>Ankieta ta kierowana jest do studentów należących do organizacji studenckich. </p>
        </div>
      </div>
  </div>

  <div class="page-header">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Co teraz chcesz zrobić?</h1>

                <p>
                    <a href="/form" class="btn btn-success" role="button">Wypełnij ankietę</a>
                    <a href="/wyniki" class="btn btn-primary" role="button">Zobacz wyniki</a>
                </p>
            </div>
        </div>
  </div>


{% endblock %}

