<!-- extend base layout -->
{% extends "index.html" %}

{% block content %}

<div class="page-header">
    <div id="page-content-wrapper">
        <div class="container-fluid" style="text-align: left !important; margin-top: 100px">
            <h1>Wyniki</h1>
            W ankiecie wzięło udział {{ pplCounter }} osób.
            <div id="timeChart_div" style="width: 900px; height: 500px"></div>
            <div id="meetingsChart_div" style="width: 900px; height: 500px">></div>
            <div id="topicChart_div" style="width: 900px; height: 500px">></div>
        </div>
     </div>
 </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load('visualization', '1', {'packages':['corechart']});
    google.setOnLoadCallback(drawTimeChart);

    function drawTimeChart() {
        var timeData = new google.visualization.DataTable();
        timeData.addColumn('string', 'Question');
        timeData.addColumn('number', 'Answer');
        timeData.addRows({{ timeData|tojson }});

        var timeOptions = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Analiza czasu jaki przeznaczają studenci na dzialalnosc w organizacji studenckiej',
            pieStartAngle: 100,
        };


    var timeChart = new google.visualization.PieChart(
            document.getElementById('timeChart_div'));
    timeChart.draw(timeData, timeOptions);

        var meetingsData = new google.visualization.DataTable();
        meetingsData.addColumn('string', 'Question');
        meetingsData.addColumn('number', 'Odpowiedz');
        meetingsData.addRows({{ meetingsData|tojson }});

        var meetingsOptions = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Analiza częstotliwości spotkań w organizacjach studenckich',
            pieStartAngle: 100,
        };

    var meetingsChart = new google.visualization.PieChart(
            document.getElementById('meetingsChart_div'));
    meetingsChart.draw(meetingsData, meetingsOptions);

        var topicData = new google.visualization.DataTable();
        topicData.addColumn('string', 'Question');
        topicData.addColumn('number', 'Answer');
        topicData.addRows({{ topicData|tojson }});

        var topicOptions = {
            legend: 'none',
            title: 'Analiza charakteru organizacji do jakich należą studenci',
        };

    var topicChart = new google.visualization.ColumnChart(
            document.getElementById('topicChart_div'));
    topicChart.draw(topicData, topicOptions);

    var pplCounter = {{ pplCounter|tojson }}

  }




    </script>

{% endblock %}